#inp{
	width:700px;
	margin: 30px;
	/* border: 1px solid red; */
}
#inp input{
	height: 25px;
	width: 200px;
	border: 1px solid #92B8B1;
	border-radius:4px;
	padding-left: 12px;
}
#inp input[type=submit]{
	width: 50px;
	padding-left: 5px;
	letter-spacing: 5px;
	background: #66B1FF;
	color: white;
	font-size: 12px;
}
#fayao{
	margin-left:15px;
	height:42px;
	background:#D9D9D9;
	border-radius:5px;
	margin-bottom: 20px;
}
#fayao div{
	height:42px;
	background:#27A9E3;
	width: 80px;
	border-radius:5px;
	text-align: center;
	line-height: 42px;
	color: whitesmoke;
	letter-spacing: 5px;
}
table{
	width:700px;
	margin-left:15px ;
	color: #909399;
}
table tr{
	height: 30px;
}